## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [60]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("championship-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("championship-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("championship-2025.csv")

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [61]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(92)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
87,89,8,30/09/2025 19:45,The MKM Stadium,Hull City,Preston North End,2 - 2
88,90,8,30/09/2025 19:45,King Power Stadium,Leicester City,Wrexham,1 - 1
89,91,8,30/09/2025 19:45,Riverside Stadium,Middlesbrough,Stoke City,0 - 0
90,92,8,30/09/2025 19:45,Bramall Lane,Sheffield United,Southampton,1 - 2
91,88,8,30/09/2025 20:00,Pride Park Stadium,Derby County,Charlton Athletic,1 - 1

In [62]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [63]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
87,89,8,30/09/2025 19:45,The MKM Stadium,Hull City,Preston North End,2 - 2
88,90,8,30/09/2025 19:45,King Power Stadium,Leicester City,Wrexham,1 - 1
89,91,8,30/09/2025 19:45,Riverside Stadium,Middlesbrough,Stoke City,0 - 0
90,92,8,30/09/2025 19:45,Bramall Lane,Sheffield United,Southampton,1 - 2
91,88,8,30/09/2025 20:00,Pride Park Stadium,Derby County,Charlton Athletic,1 - 1

## Predprocesovanje Niza Podataka

In [64]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(1196, 3)

In [65]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [66]:
df_BL.to_csv("cship.csv")
df_BL

                      H                     A Result
0   Sheffield Wednesday           Southampton  1 - 2
1      Blackburn Rovers  West Bromwich Albion  2 - 1
2          Bristol City     Preston North End  1 - 1
3         Middlesbrough              Millwall  0 - 1
4          Norwich City             Hull City  2 - 1
..                  ...                   ...    ...
87            Hull City     Preston North End  2 - 2
88       Leicester City               Wrexham  1 - 1
89        Middlesbrough            Stoke City  0 - 0
90     Sheffield United           Southampton  1 - 2
91         Derby County     Charlton Athletic  1 - 1

[1196 rows x 3 columns]

In [67]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [68]:
df_domacin.columns

Index(['H_Blackburn Rovers', 'H_Bristol City', 'H_Burnley', 'H_Cardiff City',
       'H_Charlton Athletic', 'H_Coventry City', 'H_Derby County',
       'H_Huddersfield Town', 'H_Hull City', 'H_Ipswich Town',
       'H_Leeds United', 'H_Leicester City', 'H_Luton Town', 'H_Middlesbrough',
       'H_Millwall', 'H_Norwich City', 'H_Oxford United', 'H_Plymouth Argyle',
       'H_Portsmouth', 'H_Preston North End', 'H_Queens Park Rangers',
       'H_Rotherham United', 'H_Sheffield United', 'H_Sheffield Wednesday',
       'H_Southampton', 'H_Stoke City', 'H_Sunderland', 'H_Swansea City',
       'H_Watford', 'H_West Bromwich Albion', 'H_Wrexham'],
      dtype='object')

In [69]:
df_domacin.shape

(1196, 31)

In [70]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [71]:
df_gost.shape

(1196, 31)

In [72]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_Blackburn Rovers,H_Bristol City,H_Burnley,H_Cardiff City,H_Charlton Athletic,H_Coventry City,H_Derby County,H_Huddersfield Town,H_Hull City,H_Ipswich Town,...,A_Rotherham United,A_Sheffield United,A_Sheffield Wednesday,A_Southampton,A_Stoke City,A_Sunderland,A_Swansea City,A_Watford,A_West Bromwich Albion,A_Wrexham
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1192,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1193,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1194,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1195,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [73]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [74]:
rez_dom.head()

0    1
1    2
2    1
3    0
4    2
Name: Result, dtype: object

In [75]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [76]:
rez_gost.head()

0    2
1    1
2    1
3    1
4    1
Name: Result, dtype: object

In [77]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [78]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                      H                     A Result Rez1 Rez2
0   Sheffield Wednesday           Southampton  1 - 2    1    2
1      Blackburn Rovers  West Bromwich Albion  2 - 1    2    1
2          Bristol City     Preston North End  1 - 1    1    1
3         Middlesbrough              Millwall  0 - 1    0    1
4          Norwich City             Hull City  2 - 1    2    1
..                  ...                   ...    ...  ...  ...
87            Hull City     Preston North End  2 - 2    2    2
88       Leicester City               Wrexham  1 - 1    1    1
89        Middlesbrough            Stoke City  0 - 0    0    0
90     Sheffield United           Southampton  1 - 2    1    2
91         Derby County     Charlton Athletic  1 - 1    1    1

[1196 rows x 5 columns]

In [79]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [80]:
#df_rezultatski[0:552] #sezona 23/4 od 0:552
#df_rezultatski[552:1104] #sezona 24/5 od 552:1104
#df_rezultatski[1104:] #sezona25/6 od 1104:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [81]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [82]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[0:552] #sezona 23/4 od 0:552
#df_rezultatski[552:1104] #sezona 24/5 od 552:1104
#df_rezultatski[1104:] #sezona25/6 od 1104:

In [83]:
#sezona 23/4
skor23_4 = skor[0:552]
skor24_5 = skor[552:1104]
skor25_6 = skor[1104:]

In [84]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_12548\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [85]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_12548\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [86]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [87]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [88]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [89]:
finalna_provjera.head()

                     H                     A Rezultat  Skor
0  Sheffield Wednesday           Southampton    1 - 2 -0.71
1     Blackburn Rovers  West Bromwich Albion    2 - 1  0.71
2         Bristol City     Preston North End    1 - 1  0.00
3        Middlesbrough              Millwall    0 - 1 -0.71
4         Norwich City             Hull City    2 - 1  0.71

# Konačni df - Podaci su Sređeni

In [90]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [91]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [92]:
df_BL.head(5)

,H_Blackburn Rovers,H_Bristol City,H_Burnley,H_Cardiff City,H_Charlton Athletic,H_Coventry City,H_Derby County,H_Huddersfield Town,H_Hull City,H_Ipswich Town,...,A_Sheffield United,A_Sheffield Wednesday,A_Southampton,A_Stoke City,A_Sunderland,A_Swansea City,A_Watford,A_West Bromwich Albion,A_Wrexham,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71

In [93]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [94]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [95]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_Blackburn Rovers,H_Bristol City,H_Burnley,H_Cardiff City,H_Charlton Athletic,H_Coventry City,H_Derby County,H_Huddersfield Town,H_Hull City,H_Ipswich Town,...,A_Rotherham United,A_Sheffield United,A_Sheffield Wednesday,A_Southampton,A_Stoke City,A_Sunderland,A_Swansea City,A_Watford,A_West Bromwich Albion,A_Wrexham
943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
260,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.20402532, -0.21843027, -0.12669996, ...,  4.84298931,
        -0.21608472, -0.05287626],
       [-0.20402532, -0.21843027, -0.12669996, ..., -0.20648404,
        -0.21608472, -0.05287626],
       [-0.20402532, -0.21843027, -0.12669996, ..., -0.20648404,
        -0.21608472, -0.05287626],
       ...,
       [-0.20402532, -0.21843027, -0.12669996, ..., -0.20648404,
        -0.21608472, -0.05287626],
       [-0.20402532, -0.21843027, -0.12669996, ..., -0.20648404,
        -0.21608472, -0.05287626],
       [-0.20402532, -0.21843027, -0.12669996, ..., -0.20648404,
        -0.21608472, -0.05287626]])

In [97]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [98]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [99]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [100]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 16)                1008

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,025
Trainable params: 1,025
Non-trainable params: 0
_________________________________________________________________

In [101]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [102]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
34/34 [==============================] - 2s 19ms/step - loss: 0.7437 - mae: 0.7437 - val_loss: 0.7419 - val_mae: 0.7419
Epoch 2/50
34/34 [==============================] - 0s 10ms/step - loss: 0.6924 - mae: 0.6924 - val_loss: 0.6921 - val_mae: 0.6921
Epoch 3/50
34/34 [==============================] - 0s 11ms/step - loss: 0.6470 - mae: 0.6470 - val_loss: 0.6524 - val_mae: 0.6524
Epoch 4/50
34/34 [==============================] - 0s 10ms/step - loss: 0.6111 - mae: 0.6111 - val_loss: 0.6350 - val_mae: 0.6350
Epoch 5/50
34/34 [==============================] - 1s 24ms/step - loss: 0.5832 - mae: 0.5832 - val_loss: 0.6252 - val_mae: 0.6252
Epoch 6/50
34/34 [==============================] - 1s 16ms/step - loss: 0.5619 - mae: 0.5619 - val_loss: 0.6176 - val_mae: 0.6176
Epoch 7/50
34/34 [==============================] - 0s 14ms/step - loss: 0.5460 - mae: 0.5460 - val_loss: 0.6122 - val_mae: 0.6122
Epoch 8/50
34/34 [==============================] - 0s 12ms/step - loss: 0.5312 - mae: 0.5312 - val_loss: 0.6114 - val_mae: 0.6114
Epoch 9/50
34/34 [==============================] - 0s 10ms/step - loss: 0.5198 - mae: 0.5198 - val_loss: 0.6095 - val_mae: 0.6095
Epoch 10/50
34/34 [==============================] - 0s 12ms/step - loss: 0.5083 - mae: 0.5083 - val_loss: 0.6084 - val_mae: 0.6084
Epoch 11/50
34/34 [==============================] - 0s 11ms/step - loss: 0.4997 - mae: 0.4997 - val_loss: 0.6024 - val_mae: 0.6024
Epoch 12/50
34/34 [==============================] - 1s 16ms/step - loss: 0.4917 - mae: 0.4917 - val_loss: 0.6037 - val_mae: 0.6037
Epoch 13/50
34/34 [==============================] - 1s 19ms/step - loss: 0.4847 - mae: 0.4847 - val_loss: 0.5979 - val_mae: 0.5979
Epoch 14/50
34/34 [==============================] - 0s 14ms/step - loss: 0.4789 - mae: 0.4789 - val_loss: 0.5949 - val_mae: 0.5949
Epoch 15/50
34/34 [==============================] - 1s 21ms/step - loss: 0.4712 - mae: 0.4712 - val_loss: 0.5898 - val_mae: 0.5898
Epoch 16/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4649 - mae: 0.4649 - val_loss: 0.5900 - val_mae: 0.5900
Epoch 17/50
34/34 [==============================] - 0s 13ms/step - loss: 0.4603 - mae: 0.4603 - val_loss: 0.5880 - val_mae: 0.5880
Epoch 18/50
34/34 [==============================] - 1s 15ms/step - loss: 0.4558 - mae: 0.4558 - val_loss: 0.5875 - val_mae: 0.5875
Epoch 19/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4502 - mae: 0.4502 - val_loss: 0.5856 - val_mae: 0.5856
Epoch 20/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4464 - mae: 0.4464 - val_loss: 0.5891 - val_mae: 0.5891
Epoch 21/50
34/34 [==============================] - 1s 20ms/step - loss: 0.4413 - mae: 0.4413 - val_loss: 0.5860 - val_mae: 0.5860
Epoch 22/50
34/34 [==============================] - 1s 19ms/step - loss: 0.4382 - mae: 0.4382 - val_loss: 0.5882 - val_mae: 0.5882
Epoch 23/50
34/34 [==============================] - 1s 15ms/step - loss: 0.4342 - mae: 0.4342 - val_loss: 0.5836 - val_mae: 0.5836
Epoch 24/50
34/34 [==============================] - 1s 27ms/step - loss: 0.4322 - mae: 0.4322 - val_loss: 0.5857 - val_mae: 0.5857
Epoch 25/50
34/34 [==============================] - 1s 28ms/step - loss: 0.4270 - mae: 0.4270 - val_loss: 0.5858 - val_mae: 0.5858
Epoch 26/50
34/34 [==============================] - 1s 17ms/step - loss: 0.4232 - mae: 0.4232 - val_loss: 0.5840 - val_mae: 0.5840
Epoch 27/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4206 - mae: 0.4206 - val_loss: 0.5877 - val_mae: 0.5877
Epoch 28/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4160 - mae: 0.4160 - val_loss: 0.5851 - val_mae: 0.5851
Epoch 29/50
34/34 [==============================] - 1s 23ms/step - loss: 0.4142 - mae: 0.4142 - val_loss: 0.5766 - val_mae: 0.5766
Epoch 30/50
34/34 [==============================] - 1s 26ms/step - loss: 0.4104 - mae: 0.4104 - val_loss: 0.5835 - val_mae: 0.5835
Epoch 31/50
34/34 [==============================] - 0s 12ms/step - loss: 0.4079 - mae: 0.4079 - val_loss: 0.5790 - val_mae: 0.5790
Epoch 32/50
34/34 [==============================] - 0s 14ms/step - loss: 0.4046 - mae: 0.4046 - val_loss: 0.5818 - val_mae: 0.5818
Epoch 33/50
34/34 [==============================] - 1s 21ms/step - loss: 0.4014 - mae: 0.4014 - val_loss: 0.5784 - val_mae: 0.5784
Epoch 34/50
34/34 [==============================] - 1s 17ms/step - loss: 0.3989 - mae: 0.3989 - val_loss: 0.5788 - val_mae: 0.5788
Epoch 35/50
34/34 [==============================] - 0s 13ms/step - loss: 0.3954 - mae: 0.3954 - val_loss: 0.5806 - val_mae: 0.5806
Epoch 36/50
34/34 [==============================] - 0s 12ms/step - loss: 0.3935 - mae: 0.3935 - val_loss: 0.5803 - val_mae: 0.5803
Epoch 37/50
34/34 [==============================] - 0s 13ms/step - loss: 0.3905 - mae: 0.3905 - val_loss: 0.5781 - val_mae: 0.5781
Epoch 38/50
34/34 [==============================] - 0s 11ms/step - loss: 0.3885 - mae: 0.3885 - val_loss: 0.5827 - val_mae: 0.5827
Epoch 39/50
34/34 [==============================] - 0s 12ms/step - loss: 0.3854 - mae: 0.3854 - val_loss: 0.5818 - val_mae: 0.5818

In [103]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

4/4 [==============================] - 0s 9ms/step - loss: 0.5766 - mae: 0.5766

In [104]:
#spremanje modela
model.save("cship_model.h5")

In [105]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.